
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<div class="container" >
    <h2>
       Công ty Laptop HCM

    </h2>
    <p style="line-height:40px">
        Ra mắt nhằm đáp ứng các nhu cầu về học tập cũng như giải trí của mọi lứa tuổi.


    </pstyle="line-height:200px">
    <a href="~/">KHÁM PHÁ NGAY!</a>
</div>

